<!DOCTYPE html>
<html lang="en">

<head>
  <% include templates/head.ejs%>

</head>

<body>
    <% include templates/header.ejs%>

    <div class="card-frame grey lighten-4">
        <h1 class="center-align">About</h1>
        <p class="flow-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum suscipit optio odit fugit velit ratione aspernatur tempora explicabo soluta eaque necessitatibus, molestias maiores natus reiciendis praesentium, numquam molestiae labore ea?
            Nostrum cupiditate velit perferendis excepturi, quae qui. Velit aut pariatur odit corporis? Fugit maxime nobis laboriosam fuga facere, ullam optio ut nam repudiandae? Ex, harum vero maxime voluptates eum fuga!
            Culpa eum labore ex consequuntur enim a itaque reprehenderit cum dignissimos! Dignissimos at sapiente quia, similique quas nobis cumque ducimus magnam quidem ipsa facilis magni cupiditate iusto quae, est ex?
            Unde consequatur laudantium pariatur possimus culpa. Perferendis ad fugiat tenetur. Ad consectetur ullam ipsa nulla error quasi atque, aut eum veritatis excepturi at odio provident qui placeat ipsam nemo ipsum.
            Deleniti obcaecati architecto doloremque corporis fugit laboriosam doloribus ipsa, modi culpa eius explicabo hic ipsam non alias excepturi eum consequuntur. Saepe dicta excepturi quasi repellat! Iste culpa quos perferendis alias?
            Veniam officiis, ab beatae corporis iure sunt hic rerum in fugit reiciendis eaque quis veritatis necessitatibus at cupiditate fugiat voluptas nam accusamus id blanditiis, voluptate consequatur nesciunt. Aliquam, at consequatur!
            Id nemo numquam recusandae, ad, ut et modi iste magni eaque dolorum ipsa dolores error sint deserunt consequatur! Minima magni, aspernatur rerum aperiam quasi facilis perspiciatis quidem fuga. Unde, veniam.
            Et ducimus voluptate ut consequatur veniam esse perspiciatis provident voluptas harum nisi maiores ipsum, assumenda error illum ab sapiente vitae. Tempora nam esse fugiat voluptatem in perspiciatis harum, laboriosam facere!
            Quas nisi, laudantium eaque, illo maxime assumenda sint sapiente cumque quaerat voluptates aut expedita exercitationem? Repellat veniam, nam ex culpa impedit atque ipsum quibusdam. Distinctio fugit amet ut vitae qui!
            Mollitia odio fuga, facilis vero corrupti officiis odit placeat esse nihil. Accusamus exercitationem dignissimos voluptatem laudantium nulla, quia quaerat. Illum voluptatum amet aspernatur praesentium cumque repellendus! Illo optio alias molestiae!
            Voluptas nesciunt non, natus suscipit eligendi eius? Aut, aliquid laborum? Provident cumque obcaecati error tempora. Ipsum, debitis rem iure, perferendis explicabo porro qui ipsam voluptatum fugiat commodi illo dolore assumenda?
            Recusandae ducimus nesciunt itaque id optio? Consequatur quia iusto minima autem provident laudantium quos numquam ratione debitis ad suscipit assumenda, cumque magni enim aliquam sequi. Qui quo non consequatur dolorum?
            Error necessitatibus culpa blanditiis, sed, temporibus quaerat modi in tempore dolores consectetur numquam perferendis vitae vel nulla officia fugit sunt nisi quo et ratione. Repellat quaerat voluptates eius quisquam et?
        </p>

    </div>


    <% include templates/footer.ejs%>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/materialize/js/materialize.min.js"></script>
</body>

</html>