<!DOCTYPE html>
<html lang="en">
<head>
    <% include templates/head.ejs%>
  
</head>
<body>
    
    <% include templates/footer.ejs%>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/materialize/js/materialize.min.js"></script>
</body>

</html>