<!DOCTYPE html>
<html lang="en">

<head>
  <% include templates/head.ejs%>

</head>

<body>
    <% include templates/header.ejs%>
    <div class="card-frame grey lighten-4 z-depth-3">
        <article>
            <h1 class="center-align"><%= post.title%></h1>
            <strong><%= post.createdOn.toDateString()%></strong>
            <hr>
            <p class="flow-text">
                <%- post.content%>
            </p>
        </article>
        <% if (locals.user.admin) { %>
        <a class="btn-floating btn-large waves-effect waves-light black hoverable" href="/posts/<%= post._id%>/delete"><i class="material-icons">delete</i></a>
        <% } %>
    </div>



    <% include templates/footer.ejs%>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/materialize/js/materialize.min.js"></script>
</body>

</html>