<div id="header-img">
    <h1 class="center-align thin" id="title">{ Dev ninja }</h1>
</div>

<nav class="grey darken-4">
    <div class="nav-wrapper">
      <ul>
        <li><a href="/about" class="flow-text"><i class="material-icons left">person</i>About</a></li>
        <li><a href="#!" class="flow-text"><i class="material-icons left">work</i>Projects</a></li>        
      </ul>
    </div>
</nav>
        