<nav id= "general-nav">
  <ul>
      <li class="main-nav-menu"><a href="/about" ><i class="material-icons left">person</i>About</a></li>
      <li class="main-nav-menu"><a href="#!" ><i class="material-icons left">work</i>Projects</a></li>
      <li class="main-nav-menu"><a href="/" ><i class="material-icons left">home</i>Home</a></li>
      <% if(locals.user) {%>        
        <li class="right username disabled hide-on-small-only"><i class="material-icons left disabled">person</i><span class="user-right">Logged in as <%= user.name%></span></li> 
      <% } else { %>  
        <li class="main-nav-menu right hide-on-small-only"><a href="/login" ><i class="material-icons left">lock_open</i>Login</a></li> 
      <% } %>               
  </ul>
</nav>