<nav id= "general-nav">
  <ul>
      <li class="main-nav-menu"><a href="/about" ><i class="material-icons left">person</i>About</a></li>
      <li class="main-nav-menu"><a href="#!" ><i class="material-icons left">work</i>Projects</a></li>
      <li class="main-nav-menu"><a href="/" ><i class="material-icons left">home</i>Home</a></li>        
      <li class="main-nav-menu right"><a href="/login" ><i class="material-icons left">lock_open</i>Login</a></li>              
  </ul>
</nav>